@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(2, 2, 2); 
    position: relative;
}

#player-bg{    
    background-image: url('https://assets-global.website-files.com/5fac161927bf86485ba43fd0/6229d40f625c70840c12bcd7_BlogGif_2.gif');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.09;
    z-index: -999;
    display: none;
}


.player-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.player-header {
    color: white;
    display: flex;
    justify-content: space-around;
    width: 78%;
    padding-top: 50px;
    padding-bottom: 35px;
}

.music-picture{
    display: flex;
    justify-content: center;
}

.music-picture img{
    width: 15em;

}

#random,
#backward,
#pause,
#forward,
#music-time{
    margin-top: 10px;
}


/* .music-status{
    display: flex;
    color: white;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
} */

.music-description{
    display: flex;
    flex-direction: column;
}

 .fa-heart{
    margin-top: 10px;
    margin-right: -25px;
    width: 50px;
    height: 50px;
    color: white;
} 

.fa-heart:hover{
color: red;
}

.fa-heart:active{
    color: red;   
}

.progress-container {
    display: flex;
    justify-content: start;
    background: rgb(78, 77, 77);
    border-radius: 5px;
    cursor: pointer;
    height: 4px;
    width: 55.5%;
    border-radius: 10px;
    position: relative;
}

.progress{
    display: flex;
    height: 4px;
    background-color: rgb(240, 202, 49);
    border-radius: 50px;
}

.music-time{
    right: 0;
    margin-top: 10px;
}

.controls{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-top: 30px;
    color: rgb(98, 97, 97);
}

.controls :hover{
    color:  rgb(240, 202, 49);;
    cursor: pointer;
}

.img {
    --f: 0.1;
    /* the parallax factor (the smaller the better) */
    --r: 10px;
    /* radius */
  
    --_f: calc(100% * var(--f) / (1 + var(--f)));
    --_a: calc(90deg * var(--f));
    width: 300px;
    /* the image size */
    aspect-ratio: calc(1 + var(--f));
    object-fit: cover;
    clip-path: inset(0 var(--_f) 0 0 round var(--r));
    transform: perspective(400px) var(--_t, rotateY(var(--_a)));
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 50px;
  }
  
  .img:hover {
    clip-path: inset(0 0 0 var(--_f) round var(--r));
    --_t: translateX(calc(-1 * var(--_f))) rotateY(calc(-1 * var(--_a)));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #pause{
    display: none;
  }

  #play{
    display: flex;
    border-radius: 50%;
  }

 
  @media (max-width: 680px) {
    .player-header {
        color: white;
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 35px;
    }
    
    .progress-container {
        display: flex;
        justify-content: start;
        background: rgb(78, 77, 77);
        border-radius: 5px;
        cursor: pointer;
        height: 4px;
        width: 80%;
        border-radius: 10px;
        position: relative;
    }

  }